<li class='list-group-item'>
    <div class='list-sm-10'><a href='{{domain.url}}' target='_blank'>{{domain.url}}</a></div>
    <div class='list-sm-2'>{{domain.timeout + ' ms'}}</div>
    <div class='list-sm-fixed'><span class='label' ng-class='{false : "label-success", true: "label-danger"}[domain.error]'>{{domain.status}}</span></div>
    <div class='domainDetails clearfix'>
        <h5>Timeout <small>ms</small></h5>
        <canvas id='line' class='chart chart-line' data='chartData' labels='chartLabels' height='100'></canvas>
        <div class='details'>
            <h5><small>Avg</small></h5>
            <div class='number'> 0 </div>
            <div class='limits'>
                <div class='number'><h5><small>Min</small></h5><div>0</div></div>
                <div class='number'><h5><small>Max</small></h5><div>0</div></div>
            </div>
        </div>
    </div>
</li>