<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 uptime">
            <h3><i class="fa fa-bolt"></i> Uptime <small>Past 24 hours</small></h3>
            <input type="text" value="0" class="dial" data-linecap="round" data-thickness=".2" data-readOnly="true">
            <div class="statusMessage" ng-class="{'Online' : 'success', 'Offline': 'error'}[status]">{{status}}</div>
            <div class="statusHours"><p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{timeMessage}}</p></div>
        </div>
        <div class="col-sm-4 stats clearfix">
            <div class="timeoutWrapper col">
                <h3><i class="fa fa-clock-o"></i> Timeout <small>ms</small></h3>
                <div class="timeout clearfix">
                    <div class="col">
                        <div class="dataType">
                            Avg
                        </div>
                        <div id="numTimeout" class="number warning">
                            {{timeout.avg.toFixed(0)}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                                <div class="dataType">
                                    Max
                                </div>
                                <div id="numMaxTimeout" class="number--small">
                                    {{timeout.max}}
                                </div>
                        </div>
                        <div class="row">
                                <div class="dataType">
                                    Min
                                </div>
                                <div id="numMinTimeout" class="number--small">
                                    {{timeout.min}}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="requestsWrapper col">
                <h3><i class="fa fa-exchange"></i> Requests</h3>
                <div class="requests clearfix">
                    <div class="col">
                        <div class="dataType">
                            Errors
                        </div>
                        <div id="numErrRequest" class="number error">
                            {{requests.errors}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="dataType">
                            Success
                        </div>
                        <div id="numSucRequest" class="number success">
                            {{requests.success}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>